@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
a{
    text-decoration: none;
    color: white;
}
#topNavBar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
}
.navButton{
    padding-top: 25px;
    height: 50px;
    font-family: 'Jua', sans-serif;
    text-align: center;
}
body{
    margin: 0;
}
#topScheduleBar{
    padding: 2%;
    font-family: 'Jua', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: x-large;
}
.navButton:hover{
    background-color: rgb(37, 37, 37);
}
.selected{
    color: black;
    background-color: white;
    padding-top: 25px;
    height: 50px;
    font-family: 'Jua', sans-serif;
    text-align: center;
}
#mainContents{
    margin: 25px;
    padding-top:250px;
    color: black;
    font-family: 'Jua', sans-serif;
    text-align: center;
    height: 250px;
}
.m_navButton{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: black;
}
@media(max-width:800px){
    .m_navButton{
        display: block;
    }
    .navButton{
        height: 30px;
        padding-top: 15px;
    }
}