@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
a{
    text-decoration: none;
    color: blue;
}
#topNavBar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
}
.navButton{
    padding-top: 25px;
    height: 50px;
    font-family: 'Jua', sans-serif;
    text-align: center;
}
body{
    margin: 0;
}
#topScheduleBar{
    padding: 2%;
    font-family: 'Jua', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: x-large;
}
.navButton:hover{
    background-color: rgb(37, 37, 37);
}
.selected{
    color: black;
    background-color: white;
    padding-top: 15px;
    height: 50px;
    font-family: 'Jua', sans-serif;
    text-align: center;
}
#mainContents{
    margin: 25px;
    padding-top:100px;
    color: black;
    font-family: 'Jua', sans-serif;
    text-align: center;
    min-height: 635px;
}
.m_navButton{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: black;
}
.contDiv{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 5px black solid;
    border-radius: 8px;
    margin: 15%;
    margin-top: 0;
    margin-bottom: 5%;
}
.contText{
    color: black;
}
.contImg{
    border: 1px black solid;
    width: 100%;
    border-radius:10px;
}
#howTo{
    border: none;
    background-color: white;
}
#infoDiv{
    background-color: black;
    height: 200px;
    text-align: center;
    color: gray;
}
.infoDiv:hover{
    color: white;
}
@media(max-width:800px){
    .m_navButton{
        display: block;
    }
    .navButton, .selected{
        height: 30px;
        padding-top: 5px;
    }
    .contDiv{
        display: block;
        border: 5px black solid;
        border-radius: 8px;
        margin: 0;
        margin-bottom: 5%;
    }
    #mainContents{
        min-height: 0;
    }
    .contImg{
        border-radius: 5px;
        padding: 0;
    } 
    #topNavBar{
        height : 105px;
    }
}
